You will need to uncomment the lines based on the number of thermistors you are using.

#[mcu jomt]
#serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
#restart_method: command

#If using T1
#[temperature_sensor chamber_OT1]
#sensor_type: Generic 3950
#sensor_pin: jomt:PA2

#If using T2
#[temperature_sensor chamber_OT2]
#sensor_type: Generic 3950
#sensor_pin: jomt:PA4

#If using T3
#[temperature_sensor chamber_OT3]
#sensor_type: Generic 3950
#sensor_pin: jomt:PA10

#If using T4
#[temperature_sensor chamber_OT4]
#sensor_type: Generic 3950
#sensor_pin: jomt:PA11

#If using T5
#[temperature_sensor chamber_OT5]
#sensor_type: Generic 3950
#sensor_pin: jomt:PA8

#If using T6
#[temperature_sensor chamber_OT6]
#sensor_type: Generic 3950
#sensor_pin: jomt:PA9

#If using T7
#[temperature_sensor chamber_OT7]
#sensor_type: Generic 3950
#sensor_pin: jomt:PB8

#If using T8
#[temperature_sensor chamber_OT8]
#sensor_type: Generic 3950
#sensor_pin: jomt:PB9
